/* Define CSS variables for light and dark modes */
:root {
  --background-color: white;
  --text-color: black;
  --sidebar-background-color: #f4f4f4;
  --sidebar-text-color: black;
  --sidebar-nav-text-color: black;
  --logout-button-background-color: #ff4d4d;
  --toggle-button-background-color: #ccc;
}

[data-theme="dark"] {
  --background-color: black;
  --text-color: white;
  --sidebar-background-color: #333;
  --sidebar-text-color: white;
  --sidebar-nav-text-color: #ff6666; /* Light red color */
  --logout-button-background-color: #ff4d4d;
  --toggle-button-background-color: #555;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  height: 100vh;
}

.layout-container {
  display: flex;
  height: 100vh;
}

.sidebar {
  display: block;
  width: auto;
  max-width: 250px; /* Adjust this value based on your longest word plus padding */
  background-color: var(--sidebar-background-color);
  color: var(--sidebar-text-color);
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-right: 1px solid #ccc;
  position: relative;
  transition: left 0.3s;
  overflow-x: hidden;
}

.main-content {
  margin-top: 0;
}

.sidebar.visible {
  left: 0;
}

.sidebar-content {
  flex-grow: 1;
}

.sidebar-content h2 {
  margin-top: 0;
}

.sidebar-content ul {
  list-style-type: none;
  padding: 0;
}

.sidebar-content ul li {
  margin: 10px 0;
}

.sidebar-content ul li a {
  color: var(--sidebar-nav-text-color);
  text-decoration: none;
}

.sidebar-footer {
  text-align: center;
}

.logout-button {
  background-color: var(--logout-button-background-color);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.hamburger-menu {
  display: none;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1001; /* Ensure it is on top of the sidebar */
}

@media (max-width: 768px) {
  .sidebar {
    display: none;
    position: absolute;
    left: -200px;
    top: 0;
    height: 100%;
    z-index: 1000;
    transition: left 0.3s;
  }

  .main-content {
    margin-top: 60px; /* Ensure content is below the menu in mobile view */
  }

  .hamburger-menu {
    display: block;
  }
}
